@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*           *
 * CSS RESET *
 *           */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
label {
  font: inherit;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ================================== */

body {
  font-family: "Poppins", serif, sans-serif;
  display: flex;
  height: 100vh;
}

#side {
  height: 100%;
  width: 35vw;
  position: relative;
  flex-basis: auto;
}

#side > img {
  height: 100%;
  width: auto;
}

.image-header,
.image-footer {
  position: absolute;
}

.image-header {
  font-family: "pirata_oneregular", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10rem;
  background-color: rgba(0, 0, 0, 40%);
  width: 100%;
  height: 5rem;
  > h1 {
    color: white;
    font-size: 3rem;
  };
}

.image-footer {
  text-align: center;
  width: 100%;
  bottom: 2px;
  color: white;
  a {
    text-decoration: underline;
    &:hover {
      opacity: 0.6;
    }
  }
}

#main-content {
  position: relative;
  display: flex;
  height: 100%;
  flex: 1; 
  flex-direction: column;
  justify-content: center;
  background: #F9FAFB;
}

form {
  background: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 30%);
  gap: 1rem;
  .form-header {
    color: rgb(74, 74, 74);
  }
  .form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    label>span {
      text-transform: uppercase;
      font-size: 0.9rem;
      letter-spacing: 1.5px;
      color: rgb(86, 86, 86);
      font-weight: 600;
    }
    label {
      flex: 1 1 auto;
      min-width: 18rem;
      max-width: 18.75rem;
      margin-bottom: 0.5rem;
      input {
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 30%);
        border-radius: 5px;
        height: 2.1rem;
        padding: 0 1ch;
      }
    }
  }
}

.main-text-container {
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  h2 {
    font-weight: 600;
  }
}

.submit-area {
  padding: 0 2.5rem;  
  margin-top: 1.5rem;
  button {
    padding: 0.5rem 3rem;
    border: none;
    background: #cd6947;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  }
  p {
    padding: 1rem 0;
    a {
      color: #cd6947;
      &:hover {
        color: #76331d;
      }
    }
  }
}

/* Pseudo classes (input) */
input:focus {
  outline: 1px solid #76331d;
  box-shadow: 0 0 10px #76331d;
}

input:user-invalid {
  outline: 1px solid red;
}

input + span {
  position: absolute;
}

input:required:user-invalid + span::after {
    text-transform: none;
    content: "*This field must not empty.";
    color: red;
    font-size: 0.7rem;
    letter-spacing: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

input[type="email"]:user-invalid + span::after {
  text-transform: none;
  content: "*Please enter a valid email address.";
  color: red;
  font-size: 0.7rem;
  letter-spacing: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

input[type="tel"]:user-invalid + span::after {
  text-transform: none;
  content: "*Please enter a valid phone number.";
  color: red;
  font-size: 0.7rem;
  letter-spacing: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: "pirata_oneregular";
  src: url("./font/pirataone-regular-webfont.woff2") format("woff2"),
    url("./font/pirataone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
